:root {
  --bg-primary: #f7f7f7;
  --bg-secondary: #ffffff;
  --bg-hover: #ebebeb;
}

html.dark {
  --bg-primary: #000000;
  --bg-secondary: #242424;
  --bg-hover: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  font-size: normal;
  background: var(--bg-primary);
}